<div class="topbar-container">
  <component-viewer-header></component-viewer-header>
  <component-viewer-toolbar
    (onModeChange)="onViewModeChange($event)"
    (onSelect)="onGlobalSelect($event)"
    [selectionState]="allSelected()"></component-viewer-toolbar>
  <div></div>
</div>

<div class="scrolling-content content-container">
  <div [ngSwitch]="viewMode" layout="column">
    <md-grid-list *ngSwitchCase="'view_module'" cols="3" cols-sm="2" rowHeight="4:3" gutterSize="10px">
      <md-grid-tile colspan="1" rowspan="1" *ngFor="let item of resources, let i=index">
        <div class="crop-img">
          <img md-card-image src="assets/img/Image{{item.img}}.jpg">
        </div>
        <button md-mini-fab class="top-right transparent"><md-icon>add</md-icon></button>
        <md-checkbox id="{{item.id}}"
                     [checked]="item.selected"
                     (change)="selectElement($event,i)"
                     class="top-left"></md-checkbox>
      </md-grid-tile>
    </md-grid-list>

    <md-list *ngSwitchCase="'list'">
      <md-list-item *ngFor="let item of resources, let i=index">
        <md-checkbox id="{{item.id}}"
                     [checked]="item.selected"
                     (change)="selectElement($event,i)"
                     class=""></md-checkbox>
        <div>
          <h3 md-line> Image{{item.id}} </h3>
          <p md-line>
            <span> Lore Ipsum</span>
          </p>
        </div>
      </md-list-item>
    </md-list>
  </div>
</div>
