<!-- Container #1 (see wireframe) -->
<!--<md-toolbar layout="row" class="md-toolbar-tools">
  <h1>Picdrop</h1>
  <span class="fill-flex"></span>
  <span>
    <button md-icon-button><md-icon>person</md-icon></button>
  </span>
</md-toolbar>-->


<!--  &lt;!&ndash; Container #3 &ndash;&gt;
  <md-sidenav-container>
    <md-sidenav mode="side" opened="true" class="md-whiteframe-4dp">
      Sidenav
    </md-sidenav>

    &lt;!&ndash; Container #4 &ndash;&gt;
    <md-card>
      <div class="my-content">
        <resource-card>

        </resource-card>
      </div>
      <button md-fab><md-icon>check</md-icon></button>
    </md-card>
  </md-sidenav-container>-->

<!-- Container #4 -->
<md-sidenav-container >
  <md-sidenav  mode="side" opened="true">
    <div class="scrolling-content">
      <component-sidenav-primary></component-sidenav-primary>
    </div>
  </md-sidenav>

  <component-viewer></component-viewer>

</md-sidenav-container>
